/*
*-------------------------------------------------------------------------
* Navbar
*-------------------------------------------------------------------------
*/
#cell {
    display: none;
}

#menu {
    background-color: #242a35;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
.hvr-wobble:hover {
	animation: bounce 0.8s;
}

@media (min-width: 62rem) {
    .navbar-brand {
        margin-left: 8%;
    }
    .navbar-nav {
        margin-left: 35%;
    }
    .navbar-nav .nav-item .nav-link {
        border-bottom: 3px solid transparent;
        color: #fff;
    }
    
    .navbar-nav .nav-item .nav-link:hover {
        border-bottom: 3px solid rgba(255, 255, 255, 0.637);
        color: rgba(255, 255, 255, 0.637);
    }
    .navbar-nav .nav-item .active,
    .navbar-nav .nav-item .active:hover { 
        border-bottom: 3px solid #fff;
        color: #fff;
    }
}

@media only screen and (max-width: 24.5rem) {
    #pc {
        display: none;
    }
    #cell{
        display: block;
    }
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    border-color: #fff;
}
/*
*-------------------------------------------------------------------------
* Session Contato
*-------------------------------------------------------------------------
*/
#contato-list {
    color: blue;
    cursor: pointer;
    font-size: 17px;
}

@media (min-width: 62rem) {
    #div-contatos {
        float: left;
        width: 40%;
    }
    #div-form {
        float: right;
        width: 50%;
        margin-bottom: 10px;
    }
}

@media (max-width: 62rem) {
    #div-form {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}