/*
*-------------------------------------------------------------------------
* Navbar
*-------------------------------------------------------------------------
*/
#cell {
    display: none;
}

#menu {
    background-color: #242a35;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
.hvr-wobble:hover {
	animation: bounce 0.8s;
}


@media only screen and (min-width: 62rem) {
    .navbar-brand {
        margin-left: 4%;
    }
    .navbar-nav {
        margin-left: 35%;
    }
    .navbar-nav .nav-item .nav-link {
        border-bottom: 3px solid transparent;
        color: #fff;
    }
    
    .navbar-nav .nav-item .nav-link:hover {
        border-bottom: 3px solid rgba(255, 255, 255, 0.637);
        color: rgba(255, 255, 255, 0.637);
    }
    .navbar-nav .nav-item .active,
    .navbar-nav .nav-item .active:hover { 
        border-bottom: 3px solid #fff;
        color: #fff;
    }
}

@media only screen and (max-width: 24.5rem) {
    #pc {
        display: none;
    }
    #cell{
        display: block;
    }
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    border-color: #fff;
}
/*
*-------------------------------------------------------------------------
* Session Home
*-------------------------------------------------------------------------
*/
#i {
    border: 1px solid #fff;
    margin-top: 15vh;
    font-size: 50px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    color: #fff;
    border-radius: 20%;
    background-color: rgba(0,0,0,0.8);
}
#i {
    animation: bounce 2.5s 1.5s infinite;
}

#cover-container {
    padding-bottom: 20vh;
    padding-top: 20vh;
}
#frase {
    display: block;
}
#whiter {
    display: none;
}
@media only screen and (min-width: 62rem) {
    #danilo {
        font-size: 80px;
    }
    #cover-container {
        padding-bottom: 11vh;
        padding-top: 120px;
    }
    #sub {
        font-size: 25px;
    }
    #frase {
        display: inline;
    }
    #whiter {
        display: block;
    }
}
#frase::after {
  content: '|';
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink .7s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
/*
*-------------------------------------------------------------------------
* Session Contato
*-------------------------------------------------------------------------
*/
#contato-list {
    cursor: pointer;
    font-size: 17px;
}

#div-form .card {
    border-radius: 0;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.55);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.55);
    box-shadow: 0 2px 3px rgba(0,0,0,.55);
}

@media only screen and (min-width: 62rem) {
    #div-contatos {
        float: left;
        width: 40%;
    }
    #div-form {
        float: right;
        width: 50%;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 62rem) {
    #div-form {
        margin-top: 50px;
    }
}
/*
*-------------------------------------------------------------------------
* To top
*-------------------------------------------------------------------------
*/
.toTop {
    bottom: 10px;
    right: 20px;
    position: fixed;
    cursor: pointer;
    display: block;
    border-radius: 30%;
}
/*
*-------------------------------------------------------------------------
* Button Orçamento
*-------------------------------------------------------------------------
*/
#button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#button:hover {background-color: #3e8e41}

#button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/*
*----------------------------------------------------------
* #fa
*----------------------------------------------------------
*/
#fa {
    padding-left: 8%;
}
/*
*----------------------------------------------------------
* Form Orçamento
*----------------------------------------------------------
*/
@media only screen and (min-width: 62rem) {
    #form-orcamento {
        padding-left: 10%;
        padding-right: 10%;
    }
}
/*
*----------------------------------------------------------
* Imagem
*----------------------------------------------------------
*/

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

#ft:hover .overlay {
  opacity: 1;
}