/*
*-------------------------------------------------------------------------
* Navbar
*-------------------------------------------------------------------------
*/
#menu {
    background-color: #242a35;
}

@media (min-width: 62rem) {
    .navbar-brand {
        margin-left: 8%;
    }
    .navbar-nav {
        margin-left: 30%;
    }
    .navbar-nav .nav-item .nav-link {
        border-bottom: 3px solid transparent;
        color: #fff;
    }
    
    .navbar-nav .nav-item:hover {
        border-bottom: 3px solid #fff;
        color: #fff;
    }
    .navbar-nav .nav-item .active { 
        border-bottom: 3px solid #fff;
        color: #fff;
    }
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    border-color: #fff;
}